@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

*::-webkit-scrollbar {
    width: 0px; /* Adjust scrollbar width */
    height: 12px; /* For horizontal scrollbars, if applicable */
}

*::-webkit-scrollbar-button{
    background:#242629;
}

*::-webkit-scrollbar-thumb{
    background:rgb(12, 28, 19);
}

*::-webkit-scrollbar-track{
    background:gray;
}